/*
    PluginDraft CSS styles
*/

.tabmenu-tab {
    overflow: hidden;
    position: relative;
}
.tabmenu-tab #tabs ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
    border-right: 5px solid #234567;
    width: 26.6666%;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}
.tabmenu-tab #tabs ul li a {
    display: block;
    margin-bottom: 3px;
    padding: 4px 10px;
    background-color: #abcdef;
    font-size: 13pt;
    height: 35px;
}
.tabmenu-tab #tabs ul li:last-child a {
    margin-bottom: 0;
}
.tabmenu-tab #tabs ul li a:hover {
    color: #000;
}
.tabmenu-tab #tabs ul li.ui-tabs-active.ui-state-active a,
.tabmenu-tab #tabs ul li.ui-tabs-active.ui-state-focus a {
    background-color: #234567;
    color: #fff;
}

.tabmenu-tab #tabs div {
    display: none;
    float: left;
    width: 73.3333%;
    margin-bottom: -2000px;
    padding-bottom: 2035px;
}
.tabmenu-tab #tabs div span {
    display: inline-block;
    margin: 5px 10px;
}


.tabmenu-pagelink {
    display: block;
    padding: 2px 10px;
}
.tabmenu-pagelink:nth-child(even) {
    background-color: #eee;
}

.tabmenu-catlink {
    display: block;
    padding: 5px 10px 4px 10px;
    background-color: #234567;
    color: #fff;
    bottom: 0;
    width: inherit;
    height: 35px;
    position: absolute;
}

.tabmenu-error {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.tabmenu-error div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.tabmenu-error span {
    display: table-cell;
    padding: 2px 6px;
    color: #f33;
    font-size: 8pt;
}

.tabmenu-notice {
    display: table;
    margin: 2px 0;
    border: 1px solid #777;
    background-color: #eee;
}
.tabmenu-notice div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #777;
    height: inherit;
}
.tabmenu-notice span {
    display: table-cell;
    padding: 2px 6px;
    color: #888;
    font-size: 8pt;
}
