/*
    PluginDraft CSS styles
*/

.tabmenu-tab {
}
.tabmenu-tab #tabs ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
}
.tabmenu-tab #tabs ul li {
    padding: 2px 10px;
    background-color: #abcdef;
    margin-bottom: 3px;
}
.tabmenu-tab #tabs ul li.ui-tabs-active.ui-state-active,
.tabmenu-tab #tabs ul li.ui-tabs-active.ui-state-focus {
    background-color: #234567;
}

.tabmenu-tab #tabs div {
    display: none;
    float: right;
    border-right: 5px solid #234567;
}


.tabmenu-pagelink {
    display: block;
    padding: 2px 10px;
}
.tabmenu-pagelink:nth-child(even) {
    background-color: #eee;
}

.tabmenu-error {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.tabmenu-error div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.tabmenu-error span {
    display: table-cell;
    padding: 2px 4px;
    color: #f33;
}